/*colors*/
$heroBackground: #f2e9e4;
$white-color: #ffffff;
$primary-color: #4d13d1;
$textLight: #495057;

/*--Max-width--*/

$max-width-medium: 500px;
$max-width-large: 1200px;
$max-width-xl-large: 1400px;
